<!DOCTYPE html>
<html>
  <head>
    <title>Barbershop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
		@import url('https://fonts.googleapis.com/css?family=Lobster');
	</style>
	

  </head>

  <body>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <div class="site-wrapper">
   <div><%= render 'shared/nav' %></div>
    <div class="container-fluid">
      <div>To whom it may concern: IDK if i threw the notices in right, I just did what devise said.  Do we have gritter? Do we want gritter?  Also, this is written in app.html</div>
    <%= image_tag(
                    "background.jpg",
                    id: 'background',
                    poster: 'background.jpg'
                ) 
                %>

    <%= yield %>
  </div>
  </div>
    <%= render 'shared/footer' %>
  </body>
</html>
