<!DOCTYPE html>
<html>
  <head>
    <title>Barbershop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
		@import url('https://fonts.googleapis.com/css?family=Lobster');
	</style>

  </head>

  <body>
   <div class="nav-class"><%= render 'shared/nav' %></div>
    <%= image_tag(
                    "background.jpg",
                    id: 'background',
                    autoplay: true,
                    loop: true,
                    muted: true,
                    poster: 'background.jpg'
                ) 
                %>

    <%= yield %>
  </body>
</html>
